form {
    min-width: 300px;
}

form div {
    padding: 2px; 
    margin: 3px 0; 
}

form span {
    color: red;
}

form#signup label {
    display: inline-block;
    width: 100px; 
    text-align: right;
}

form#signup input[type=checkbox] ~ label {
    margin-left: 5px;
    text-align: left;
}

form#signup input[type=text] {
    border: none;
    border-bottom: 1px solid black;
}

form#signup input[type=submit], 
form#signup input[type=checkbox], 
form#signup div#receive {
    margin-left: 100px;
}